html{
    background-color: lightblue;
}


.contendor {
    text-align: center;
}

.header{
    background-color: blue;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;

}

.nav{
    display: flex;
    justify-content: space-between;

}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none ;

}

.nav-menu-item {
    line-height: 80px;
    margin: 0 10px;
    font-size: 18px;

}

.nav-menu-link {
    padding: 8px;
}



main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.Peliculas-Populares {
    /* propiedades de flexbox*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
}

.Peliculas-mas-vistas{
    /* propiedades de flexbox*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
}

.Series{
    /* propiedades de flexbox*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
}

h2 {
   text-align: center;
   font-family: 'Josefine+Sans', sans-serif;
   font-size: 30px;
   font-weight: lighter;
   background-color: blue;
   color: white;
   /* propiedades de flexbox*/
   box-sizing: border-box;
   border-width: 3px;
   border-color: gray;
   border-style: solid;
} 

h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}

h1{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: blue;
}

p{
    text-align: center;
}

.Peliculas-mas-vistas article img{
    align-self: center;
    align-items: center;
    width: 130px;
    height: 180px; 
    padding: 30px;
}
.Peliculas-Populares article img{
    align-self: center;
    align-items: center;
    width: 130px;
    height: 180px;
    padding: 30px;
}
.Series article img{
    align-self: center;
    align-items: center;
    width: 130px;
    height: 180px;
    padding: 30px;
}

.logo article img{
    align-items: center;
    align-self: center;
}

.Generos{
    /* propiedades de flexbox*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px;
}

.Musical {
    flex-direction: row;
    display: flex;
    text-align: center;
}

.Drama {
    flex-direction: row;
    display: flex;
    text-align: center;
   font-family: 'Josefine+Sans', sans-serif;
   font-size: 30px;
   font-weight: lighter;
}

.contendor1 {
    text-align: center;
}





